<footer class="footer">
  <div class="inner-container">
    <div id="footer__icons">
      <a class="footer__icons-item" href="mailto:hello@adriennemcd.com">
        <i class="fa fa-envelope fa-3x"></i>
        <span class="sr">Email Adrienne</span>
      </a>
      <a class="footer__icons-item" href="https://github.com/adriennemcd">
        <i class="fa fa-github fa-3x"></i>
        <span class="sr">Github</span>
      </a>
      <a class="footer__icons-item" href="https://www.linkedin.com/in/adriennemcd"><i class="fa fa-linkedin-square fa-3x"></i>
        <span class="sr">LinkedIn</span>
      </a>
      <a class="footer__icons-item" href="https://twitter.com/adrienne_mcd">
        <i class="fa fa-twitter fa-3x last"></i>
        <span class="sr">Twitter</span>
      </a>
    </div>
  </div>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' type="text/javascript"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js' type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
