<footer class="footer">
  <div class="inner-container">
    <div id="footer__icons">
      {% include icon-email.html %}
      {% include icon-github.html %}
      {% include icon-linkedin.html %}
      {% include icon-twitter.html %}
    </div>
  </div>
</footer>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js' type="text/javascript"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js' type="text/javascript"></script>
<script src="/js/index.js" type="text/javascript"></script>
