{% capture location %} {{ page.url | split:'/' }} {% endcapture %}
<header class="header">
  <div class="inner-container">
    <a href="{{ site.baseurl }}/" class="header__logo"><img src="/assets/img/amcd.svg" alt="AMcD logo"></a>
    <nav class="nav" role="navigation">
      <ul class="nav__list trigger">
        <li {% if location == current %} class="nav__item--current page-link" {% else %} class="nav__item page-link" {% endif %}><a href="{{ site.baseurl }}/">Home</a></li>
        {% for page in site.pages %}
          {% assign current = page.title | downcase %}
          {% if page.title %}
            <li {% if location == current %} class="nav__item--current page-link" {% else %} class="nav__item page-link" {% endif %}>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
