.activity {
  &-list {
    margin: 0;
    list-style-type: none;
  }
  
  &-item {
    margin: 20px 0 25px;
    padding-left: 10px;
    border-left: 2px solid $theme-yellow;

    &-title {
      margin-bottom: 0;
    }

    &-date {
      margin-top: 3px;
      font-size: rem(14);
      line-height: 1;
    }

    &-descrip {
      margin: 0;
      line-height: 1.4;
    }
  }
}