.header {
  padding: 10px 0;
  border-top: 10px solid #00a89e;

  &__logo {
    display: table;
    margin: 0 auto;

    img {
      width: 100px;
    }

    /* Fix for IE to respect aspect ratios and sizes for img tags containing SVG files */
    /* IE9 */
    .ie9 img[src*=".svg"] {
      width: 100%; 
    }

    /* IE10+ */
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      img[src*=".svg"] {
        width: 100%; 
      }
    }
  }
}