.page {
  &__header {
    padding: 20px 20px 30px;
    background: $theme-blue;

    &-title {
      margin: 0;
      color: white;
      font-family: $font-lobster;
      font-size: rem(35);
      font-weight: 100;
      line-height: 1;
      text-transform: none;
      text-align: center;
    }
  }

  &__content {
    @include clearfix;
    margin: 20px 0;
    padding: 10px;
    background: white;
  }

  &__img {
    display: inline-block;
    width: 100%;
    border: 2px solid $theme-gray;

    &--col, &--writing {
      display: block;
      max-width: 250px;
      margin: 7px auto 20px;
    }
  }

  &__main-content {
    h2 {
      margin-top: 40px;
      line-height: 1;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

@include breakpoint($medium) {
  .page {
    $block: &;

    &__header {
      &-title {
        font-size: rem(55);
      }
    }

    &__content {
      padding: 50px;
    }

    &__img {
      &--col, &--writing {
        float: left;
        max-width: 200px;
        margin: 0 30px 10px 0;
      }
    }

    &__main-content {
      padding-left: 230px;
    }
  }
}

@include breakpoint($large) {
  .page {
    &__header {
      &-title {
        font-size: rem(65);
      }
    }

    &__img {
      &--col, &--writing {
        max-width: 250px;
      }
    }

    &__main-content {
      padding-left: 280px;
    }
  }
}