.posts {
  &--professional, &--personal {
    padding-bottom: 60px;
    background: $theme-gray;
  }

  &__title {
    margin-bottom: 20px;
    padding: 5px 20px;
    color: white;
    background: $theme-gray;
  }

  &__item {
    margin: 0 20px 20px;
    border: 8px solid $theme-gray-lt;

    &:last-child {
      margin-bottom: 0px;
    }

    &-details {
      padding: 20px;
      border-top: 8px solid $theme-gray-lt;
      background: white;
    }

    &-title {
      margin: 0;
      line-height: 1.4;
    }

    &-date {
      margin-top: 3px;
      font-size: rem(14);
      line-height: 1;
    }

    &-descrip {
      margin: 0;
      line-height: 1.4;
    }
  }
}