.posts {
  &--professional, &--personal {
    padding: 30px 20px 20px;
    background: $theme-gray-lt;
  }

  &__title {
    margin: 0 0 10px;
    padding: 5px 8px;
    background: white;
  }

  &__item {
    margin: 0 0 10px;
    background: white;
    border: 8px solid white;

    &:last-child {
      margin-bottom: 0px;
    }

    &-details {
      padding: 20px;
    }

    &-title {
      margin: 0;
      line-height: 1.4;
    }

    &-date {
      margin-top: 3px;
      font-size: rem(14);
      line-height: 1;
    }

    &-descrip {
      margin: 0;
      line-height: 1.4;
    }
  }
}

@include breakpoint($medium) {
  .posts {
    &--professional, &--personal {
      @include clearfix;
    }

    &__item {
      float: left;
      width: calc(50% - 5px);
      margin-right: 10px;

      &:nth-child(2n + 1) { margin-right: 0; }
    }
  }
}